{
  "env": {
    "amd": true,
    "jasmine": true,
    "phantomjs": true
  },
  "plugins": [],
  "rules": {
    "no-console": 0,
    "no-debugger": 1,

    "angular/log": 0
  },
  "globals": {
    "console": true
  }
}
